openai
groq
google-generativeai
mistralai

langchain
langchain-openai
langchain-google-genai
langchain-community
langchain-mistralai

python-dotenv
requests
httpx
pydantic

fastapi
uvicorn

tiktoken
numpy
pandas
langchain_huggingface